server {
	listen {{api_port}};
	server_name {{hostname}};

	charset utf-8;
	client_max_body_size 75M;
	error_log error.log warn;
	location / {
		include proxy_params;
		add_header Access-Control-Allow-Origin *;
		proxy_pass http://unix:/run/gunicorn/socket;
	}
}
