server {
	listen 80;
	listen [::]:80;
	server_name {{server_name}};

	charset utf-8;
	client_max_body_size 75M;
	error_log error.log;
	location / {
		include proxy_params;
		proxy_pass http://unix:/run/gunicorn/socket;
	}
}
