server {
	listen {{api_port}};
	server_name {{hostname}};

	charset utf-8;
	client_max_body_size 75M;
	error_log error.log warn;
	location / {
		include uwsgi_params;
		add_header Access-Control-Allow-Origin *;
		uwsgi_pass unix:///run/uwsgi/app/zold/socket;
	}
}
